@media screen and (max-width: 959px) {
  .featured-collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 959px) {
  .featured-collection .slider.slider--tablet {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 959px) {
  .featured-collection .slider--tablet.product-grid {
    /* scroll-padding-left: 15px; */
  }
}

.featured-collection__title-group {
  margin-bottom: 20px;
}

.featured-collection__title {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .featured-collection__title-group {
    margin-bottom: 40px;
  }
}

.featured-collection__title .title:not(:only-child) {
  margin-bottom: 10px;
}

.featured-collection__title-group {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  padding-right: 40px;
}

.featured-collection__title-line {
  display: inline-block;
  width: 203px;
  height: 1px;
  background-color: rgb(var(--color-text));
  margin-left: 24px;
}

@media screen and (max-width: 959px) {
  .featured-collection__title-group {
    padding-right: 0;
    justify-content: center;
  }

  .featured-collection__title-line {
    width: 101px;
    margin-left: 12px;
  }
}

.featured-collection__title--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.featured-collection__tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}

@media screen and (max-width: 959px) {
  .featured-collection__tabs {
    margin-right: 0;
    margin-bottom: 20px;
    /* justify-content: center; */
  }
  .featured-collection__tabs.flex-start {
    justify-content: flex-start;
  }
}

.featured-collection__tabs-item {
  white-space: nowrap;
  cursor: pointer;
  /* opacity: 0.4; */
  text-transform: uppercase;
  padding: 10px 23px;
  background-color: rgb(var(--color-button-background-normal));
  color: rgb(var(--color-button-text-normal));
  border: 1px solid rgb(var(--color-button-border-normal));
  border-radius: var(--color-button-border-radius);
}

@media screen and (max-width: 959px) {
  .featured-collection__tabs-item {
    padding: 5px 10px;
    font-size: 16px;
  }
}

.featured-collection__tabs-item--active {
  opacity: 1;
  background-color: var(--yoi-button-background);
  color: var(--yoi-button-text);
  /* border-radius: var(--btn-border-radius); */
  border: 1px solid rgb(var(--color-button-border));
}

.featured-collection slide-pagination {
  margin-bottom: 50px;
}

.featured-collection featured-collection-tabs > div {
  align-items: center;
}

.featured-collection__spin {
  position: relative;
  height: 550px;
  width: 100%;
  display: none;
}

@media screen and (max-width: 959px) {
  .featured-collection__spin {
    height: 350px;
  }
}

[data-loading="true"] .featured-collection__slider {
  display: none;
}

[data-loading="true"] .featured-collection__spin {
  display: block;
}

[data-loading="true"] .featured-collection__spin .loading-overlay__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  animation: rotate linear 1.5s infinite;
}

[data-loading="true"]
  .featured-collection__spin
  .loading-overlay__spinner
  .icon {
  width: 40px;
  height: 40px;
}

.featured-collection .collection__view-all a:not(.link) {
  margin-top: 10px;
}

.featured-collection__mb-view-all {
  position: relative;
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--color-text), 0.05);
  border-radius: var(--product-card-border-radius);
}

.featured-collection__mb-view-all .mb-view-all__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 0;
  border-radius: 50%;
  position: relative;
  background-color: rgb(var(--color-button-background));
  color: rgb(var(--color-button-text));
  transform: rotate(-90deg);
}

.featured-collection__mb-view-all .mb-view-all__text {
  margin-top: 16px;
  text-align: center;
  color: rgb(var(--color-text));
}

@media screen and (max-width: 959px) {
  .featured-collection .slider__slide {
    scroll-snap-align: end;
  }
}

@media screen and (min-width: 960px) {
  .featured-collection slider-component:not(.page-width) {
    padding: 0;
  }
}

.featured-collection__view-all a:not(.link) {
  margin-top: 10px;
}

.featured-collection .slider {
  overflow-y: hidden;
}

.featured-collection .slider-button {
  border-radius: 2px;
  height: 40px;
  width: 40px;
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button-background));
  position: absolute;
  top: 40%;
  bottom: 100%;
  margin: auto;
}

.featured-collection .slider-button svg {
  width: 18px;
  height: 18px;
}

.featured-collection .slider-button--prev {
  left: 30px;
}

.featured-collection .slider-button--next {
  right: 30px;
}

.featured-collection .slider-button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.featured-collection .slider-button[disabled] .icon {
  color: rgba(var(--color-button-text));
}

@media screen and (max-width: 959px) {
  .featured-collection .slider:not(.slider--mobile) {
    flex-wrap: wrap;
  }
  .featured-collection .slider.slider--mobile {
    margin-bottom: 0;
  }
  .featured-collection .slider--mobile .slider__slide {
    width: calc((200vw - var(--page-padding)) / (2 * var(--mobile-cols) + 1));
  }

  .featured-collection .slider-mobile--full {
    padding-left: 0;
    padding-right: 0;
  }

  .featured-collection .slider--full {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    scroll-padding-left: 0;
    scroll-padding-right: 0;
  }

  .featured-collection .slider--full .slider__slide,
  .featured-collection .slider--full .grid__item {
    padding-left: 0;
    padding-right: 0;
  }
  .featured-collection .slider--full.slider--mobile .slider__slide,
  .featured-collection .slider--full.slider--mobile .grid__item {
    width: calc((100% - (33.3% / var(--mobile-cols))) / var(--mobile-cols));
    flex-grow: 1;
  }

  .featured-collection .slider--full .card .card__content {
    padding: 0 8%;
  }

  .featured-collection .slider--full .card .card__content .card__button {
    left: 0;
  }

  .featured-collection .slider--full .global-product-card-border-shadow,
  .featured-collection .slider--full .card__media {
    border-radius: 0 !important;
  }
  .featured-collection #Slider-swatch .slider__slide {
    width: unset;
  }
  .featured-collection .slider.slider--mobile.columns_mobile-3 .slider__slide {
    width: calc(var(--grid-horizontal-space) + 85px);
  }
}

@media screen and (min-width: 960px) {
  .featured-collection .slider:not(.slider--desktop) {
    flex-wrap: wrap;
  }
  .featured-collection .slider--mobile:not(.slider--desktop) + .slider-buttons {
    display: none;
  }
  .featured-collection .slider--desktop {
    scroll-padding-left: var(--page-padding);
  }
}

/* fix:safari svg  */

.featured-collection .product-card-wrapper .placeholder svg {
  width: 100%;
}

@media screen and (max-width: 959px) {
  .featured-collection__tabs {
    gap: 10px;
  }
}

/* The ipad end responds to the mobile end in vertical screen */

/* @custom-media --tablet (max-width: 959px); */

/* @custom-media --gt-mobile (min-width: 751px); */

/* detectingScreen need to consider the configuration of the tablet */
