.multilevel-filter {
  position: relative;
  display: block;
}

.multilevel-filter__media {
  position: relative;
  height: var(--desktop-section-height);
  background-color: rgb(var(--color-page-background));
}

@media (max-width: 959px) {
  .multilevel-filter__media {
    height: var(--mobile-section-height);
  }
}

.multilevel-filter__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.multilevel-filter__image-mask {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-mask));
  opacity: var(--section-image-mask-opacity);
}

.multilevel-filter__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
  padding-block: 60px;
  margin: auto;
  text-align: center;
}

@media (max-width: 959px) {
  .multilevel-filter__content {
    gap: 16px;
  }
}

.multilevel-filter__head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.multilevel-filter__sub-title {
  margin: 0;
}

.multilevel-filter__description {
  margin: 0;
}

@media (max-width: 959px) {
  .multilevel-filter__description {
    margin-block-start: 14px;
  }
}

.multilevel-filter__form {
  --column-gap: 14px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px var(--column-gap);
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
}

@media (min-width: 960px) {
  .multilevel-filter__form--one-line .multilevel-filter__selector {
    flex: 1 0 0;
    max-width: 500px;
  }

  .multilevel-filter__form--one-line .multilevel-filter__search-button {
    flex: 0;
    min-width: fit-content;
  }
  .multilevel-filter__form--two-line .multilevel-filter__selector,
  .multilevel-filter__form--two-line .multilevel-filter__search-button,
  .multilevel-filter__form--three-line .multilevel-filter__selector,
  .multilevel-filter__form--three-line .multilevel-filter__search-button {
    flex-shrink: 0;
    width: calc((100% - 3 * var(--column-gap)) / 4);
  }

  .multilevel-filter__form--one-line,
  .multilevel-filter__form--three-line {
    justify-content: center;
  }
}

@media (max-width: 959px) {
  .multilevel-filter__form {
    row-gap: 10px;
  }
}

.multilevel-filter__selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  text-align: start;
}

@media (max-width: 959px) {
  .multilevel-filter__selector-label {
    display: none;
  }
}

.multilevel-filter__selector-input {
  width: 100%;
}

@media (min-width: 960px) {
  .multilevel-filter__selector-input .select-component__main {
    max-width: 100%;
  }
}

.multilevel-filter__search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 959px) {
  .multilevel-filter--natural-text .multilevel-filter__media {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
  }

  .multilevel-filter--natural-text .multilevel-filter__content {
    position: relative;
    transform: none;
  }
}

/* The ipad end responds to the mobile end in vertical screen */

/* @custom-media --tablet (max-width: 959px); */

/* @custom-media --gt-mobile (min-width: 751px); */

/* detectingScreen need to consider the configuration of the tablet */
